#main-header img.logo {
	margin: 20px;
	margin-left: 125px;
	float: left;
        width: 500px;
        height: 150px;
}

#main-header #title {
	float: left;
	margin-top: 40px;
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	color: #FFCCCC;
}
#header-container {
	position: relative;
}

.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
        
}



#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 40%;
	float: left;
}

#main-navbar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
}

#main-navbar ul li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
       
}

#main-navbar ul li a:hover {
	background-color: #3333FF;
}

#second-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 10px;
}

#second-nav li {
	float: left;
}

#second-nav li:before {
	content: "|";
	color: #fff;
}

#second-nav li:first-child:before {
	content: "";
}

#second-nav li a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

#second-nav li a:hover {
	text-decoration: underline;
}

.table tr, td {
    float:left;
    border: 1px solid pink;
    color: purple;
    background-color: LavenderBlush;
    width: 150px;
    height: 50px;
    padding: 5px;
}




